# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

In [5]:
document = ET.parse( './data/mondial_database.xml' )

In [9]:
from xml.etree import ElementTree as ET
import pandas as pd

df = pd.DataFrame(columns=['country','infant_mortality'])
for element in document.iterfind('country'):
    if element.find('infant_mortality') is not None:
        df2=pd.DataFrame([[element.find('name').text,element.find('infant_mortality').text]], 
                         columns=['country','infant_mortality'])
        df = df.append(df2)
        
df['infant_mortality']=pd.to_numeric(df['infant_mortality'],errors='coerce')
df.sort_values(by='infant_mortality').head(10)

          country  infant_mortality
0          Monaco              1.81
0           Japan              2.13
0         Bermuda              2.48
0          Norway              2.48
0       Singapore              2.53
0          Sweden              2.60
0  Czech Republic              2.63
0       Hong Kong              2.73
0           Macao              3.13
0         Iceland              3.15

In [10]:
df = pd.DataFrame(columns=['city','population'])
for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        if subelement.find('population') is not None:
            df2=pd.DataFrame([[subelement.find('name').text,subelement.find('population').text]], 
                             columns=['city','population'])
            df = df.append(df2)

df['population']=pd.to_numeric(df['population'],errors='coerce')
df.sort_values(by='population',ascending=False).head(10)

               city  population
0             Seoul    10229262
0            Mumbai     9925891
0         São Paulo     9412894
0           Jakarta     8259266
0          Shanghai     8205598
0  Ciudad de México     8092449
0            Moskva     8010954
0             Tokyo     7843000
0           Beijing     7362426
0             Delhi     7206704

In [11]:
df = pd.DataFrame(columns=['country','ethnicgroup','population','percentage'])
for element in document.iterfind('country'):
    for subelement in element.getiterator('ethnicgroup'):
        country=element.find('name').text
        ethnicgroup=subelement.text
        population=element.find('population').text
        percentage=subelement.attrib['percentage']
        
        df2=pd.DataFrame([[country,ethnicgroup,population,percentage]], columns=['country','ethnicgroup','population','percentage'])
        df = df.append(df2)

df['population']=pd.to_numeric(df['population'],errors='coerce')   
df['percentage']=pd.to_numeric(df['percentage'],errors='coerce') 
df['ethnic_population']=df['population']*df['percentage']/100
df.groupby(['ethnicgroup']).sum().sort_values(by='ethnic_population',ascending=False).head(10)

             population  percentage  ethnic_population
ethnicgroup
Han Chinese   543776080       91.50       4.975551e+08
European      362717873      970.82       1.928658e+08
Indo-Aryan    238396327       72.00       1.716454e+08
Russian       202263854      224.10       9.275844e+07
African       357529690     1868.55       8.632937e+07
Japanese       82199470       99.40       8.170627e+07
German        145710759      165.60       6.623219e+07
Dravidian     238396327       25.00       5.959908e+07
English        50616012       83.60       4.231499e+07
Mestizo        67185932      870.70       3.554233e+07